.content.attempts
  padding: 20px
  .has-one-answer, .has-multiple-answer, .comparation
    width: 100%
    display: table
    .a-question-title
      text-align: left
      margin-bottom: 20px
    .a-question-answer
      input
        display: block
        float: left
        clear: left
        margin-right: 5px
      label
        display: block
        float: left
        clear: right
  .a-cancel
    margin-left: 10px